// Colors

$green: #7dc855;

$font-family-sans-serif:Arial, sans-serif;
$brand-primary:         $green; //#ff6d5a

// Basics of a navbar
$navbar-height:                    45px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;
$navbar-inverse-color:            #fff;
$navbar-padding-y: 0;
